{
    "env": {
        "browser": true,
        "es6": true,
        "jasmine": true
    },
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "module"
    },
    "rules": {
        "indent": [ "error", "tab" ],
        "quotes": [ "error", "single" ],
        "semi": [ "error", "never" ],
        "comma-dangle": [ "error", "only-multiline" ],
        "prefer-template": [ "error" ],
        "array-bracket-spacing": [ "error", "always" ],
        "object-curly-spacing": [ "error", "always" ],
        "eol-last": [ "error", "always" ],
        "linebreak-style": [ "error", "windows" ],
        "no-trailing-spaces": [ "error" ]
    },
    "globals": {
        "settings": false,
        "current": false,
        "global": false
    }
}