{
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "typescript-eslint-parser",
  "globals": {
    "require": false,
    "global": false,
    "process": false,
    "module": false
  },
  "plugins": [
    "import"
  ],
  "rules": {
    "indent": [
      "error",
      "tab"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "prefer-template": [
      "error"
    ],
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "no-trailing-spaces": [
      "error"
    ],
    "brace-style": [
      "error",
      "stroustrup"
    ],
    "one-var": [
      "error",
      "never"
    ],
    "no-shadow": [
      "error"
    ],
    "prefer-const": [
      "error"
    ],
    "curly": [
      "error"
    ],
    "no-extra-parens": [
      "error"
    ],
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "no-unused-expressions": [
      "error"
    ],
    "max-len": [
      "error",
      120
    ],
    "max-statements": [
      "error",
      10
    ],
    "max-params": [
      "error",
      2
    ],
    "max-depth": [
      "error",
      2
    ],
    "import/no-internal-modules": [
      "error",
      {
        "allow": [
          "**/src/utilities/*",
          "**/test/**/*"
        ]
      }
    ],
    "import/order": [
      "error"
    ],
    "no-undef": [
      "off"
    ],
    "no-unused-vars": [
      "off"
    ]
  },
  "overrides": [
    {
      "files": [
        "**/test/**/*"
      ],
      "rules": {
        "import/no-internal-modules": "off",
        "max-statements": "off"
      }
    }
  ]
}
