{
  "env": {
    "browser": true,
    "es6": true,
    "jasmine": true
  },
  "extends": "eslint:recommended",
  "parserOptions": {
    "sourceType": "module"
  },
  "globals": {
    "require": false
  },
  "plugins": [
    "import",
  ],
  "rules": {
    "indent": [
      "error",
      "tab"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "never"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "prefer-template": [
      "error"
    ],
    "array-bracket-spacing": [
      "error",
      "always"
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ],
    "eol-last": [
      "error",
      "always"
    ],
    "no-trailing-spaces": [
      "error"
    ],
    "brace-style": [
      "error",
      "stroustrup"
    ],
    "max-statements": [
      "error",
      10
    ],
    "max-params": [
      "error",
      2
    ],
    "max-depth": [
      "error",
      2
    ],
    "import/no-internal-modules": [
      "error",
      {
        "allow": [
          "**/src/utilities/*",
          "**/test/**/*"
        ]
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/test/**/*"
      ],
      "rules": {
        "import/no-internal-modules": "off",
        "max-statements": "off"
      }
    }
  ]
}
