[submodule "cmyktooth"]
	path = effects/cmyktooth
	url = git@github.com:houndstooth/cmyktooth.git
[submodule "houndsmorphosis"]
	path = effects/houndsmorphosis
	url = git@github.com:houndstooth/houndsmorphosis.git
[submodule "ginghoundstootham"]
	path = effects/ginghoundstootham
	url = git@github.com:houndstooth/ginghoundstootham.git
[submodule "gingham-chevron-continuum"]
	path = effects/gingham-chevron-continuum
	url = git@github.com:houndstooth/gingham-chevron-continuum.git
[submodule "gongram"]
	path = effects/gongram
	url = git@github.com:houndstooth/gongram.git
[submodule "houndazzle"]
	path = effects/houndazzle
	url = git@github.com:houndstooth/houndazzle.git
[submodule "derasterized"]
	path = effects/derasterized
	url = git@github.com:houndstooth/derasterized.git
[submodule "harmonitooth"]
	path = effects/harmonitooth
	url = git@github.com:houndstooth/harmonitooth.git
