[submodule "cmyktooth"]
	path = effects/cmyktooth
	url = git@github.com:Houndstooth/effect-cmyktooth.git
[submodule "houndsmorphosis"]
	path = effects/houndsmorphosis
	url = git@github.com:Houndstooth/effect-houndsmorphosis.git
[submodule "ginghamChevronContinuum"]
	path = effects/ginghamChevronContinuum
	url = git@github.com:Houndstooth/effect-ginghamChevronContinuum.git
[submodule "gongram"]
	path = effects/gongram
	url = git@github.com:Houndstooth/effect-gongram.git
[submodule "houndazzle"]
	path = effects/houndazzle
	url = git@github.com:Houndstooth/effect-houndazzle.git
[submodule "derasterized"]
	path = effects/derasterized
	url = git@github.com:Houndstooth/effect-derasterized.git
[submodule "harmonitooth"]
	path = effects/harmonitooth
	url = git@github.com:Houndstooth/effect-harmonitooth.git
[submodule "holestooth"]
	path = effects/holestooth
	url = git@github.com:Houndstooth/standalone-holestooth.git
