.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries/*
npm-debug*
node_modules/
dist/bundle.js
test/integration/dist/bundle.js
test/integration/dist/close
.DS_store
test/unit/coverage/*
!test/unit/coverage/coverage-final.json
test/integration/slowness-report.txt
