{
    "check-coverage": true,
    "statements": 100,
    "lines": 100,
    "branches": 100,
    "functions": 100,
    "report-dir": "./test/unit/coverage",
    "require": "ts-node/register",
    "reporter": [ "lcov", "text", "json" ],
    "extension": ".ts",
    "temp-directory": "./test/unit/coverage/.nyc_output"
}
